<head>
  <link rel="stylesheet" href="css/footer.css" />
</head>
<script src="/js/passEye.js"></script>

<footer>
  <div class="content">
    <div class="left box">
      <div class="upper">
        <div class="topic">About us</div>
        <hr />
        <p>
          I am Aditya Kumawat from MESCOE, 2nd year engineering student and a
          Developer.
          <br />
          I am not the owner of materials Uploaded by the students. I am not
          responsible for any Copyright issue.
        </p>
      </div>
      <div class="lower">
        <div class="topic">Contact us</div>
        <hr />
        <div class="phone">
          <a href="#"><i class="fas fa-phone-volume"></i>7887436854</a>
        </div>
        <div class="email">
          <a href="#"
            ><i class="fas fa-envelope"></i>adityakumawat2004@gmail.com</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
