<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>companies</title>
    <link rel="stylesheet" href="criteria.css" />
  </head>
  <body>
    <div class="addcomp">Our Recruiters</div>
    <div class="screen">
      <div class="parts">
        <a href="infosys.html"
          ><img src="infosys-logo.webp" alt="" width="100%" ; height="100%" ;
        /></a>
      </div>
      <div class="logo">
        <a href="amazon.html"
          ><img src="amazonlogo.jpg" alt="" width="100%" ; height="100%" ;
        /></a>
      </div>
      <div class="logo">
        <a href="tcs.html"
          ><img src="TCSLOGO.jpg" alt="" width="100%" ; height="100%" ;
        /></a>
      </div>
      <div class="logo">
        <a href="wipro.html"
          ><img src="wipro.jpg" alt="" width="100%" ; height="100%" ;
        /></a>
      </div>
      <div class="logo">
        <a href="zensar.html"
          ><img src="zensar.jpg" alt="" width="100%" ; height="100%" ;
        /></a>
      </div>
      <div class="logo">
        <a href="xoriant.html"
          ><img src="xor.png" alt="" width="100%" ; height="100%" ;
        /></a>
      </div>
    </div>
  </body>
</html>
