<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/place.css" />
  </head>
  <body>
    <div class="container">
      <img src="/images/mescoe_Logo.png" class="logo" />
      <span class="name"
        >Modern Education Sociey's College Of Engineering, Pune</span
      >

      <span></span>
      <span
        ><a
          href="#"
          class="Admin_Log"
          type="click"
          onclick="location.href='admin_register'"
          >Admin Login</a
        >
      </span>
    </div>

    <nav>
      <div class="container">
        <a href="#">Home</a>
        <a href="#a">About us</a>
        <a href="#b">About TPO</a>
        <a href="#c">Gallery</a>
        <a href="#d">Placed Students</a>
        <a href="#e">Recruiters</a>
        <a href="#f">Contact us</a>
      </div>
      <!-- <button class="button" type="click" onclick="location.href='index.html'">
        Register
    </button> -->
      <button class="button" type="button" onclick="location.href='register'">
        Register
      </button>
    </nav>

    <div class="slider">
      <img class="Backg" src="/images/Mes.png" />
      <div class="note">WELCOME!!</div>
      <div class="note1">TO</div>
      <div class="note2">PLACEMENT CELL</div>
    </div>

    <div class="container">
      <div class="main-section">
        <div class="event">
          <h2 class="heading" id="a">About Our College</h2>
          <div>
            <marquee direction="up" scrollamount="7" style="height: 400px">
              <ul>
                <li>
                  <img src="/images/" /> The Modern Education Society's College of
                  Engineering, Pune was established in 1999.
                </li>
                <li>
                  It conducts the following courses leading to Bachelor's Degree
                  in Engineering & Master Degree in Engineering..
                </li>
                <ol>
                  <li>- Computer Engineering</li>
                  <li>- Mechanical Engineering</li>
                  <li>- Electronics and Tele communication</li>
                  <li>- AR Engineering</li>
                </ol>
              </ul>
            </marquee>
          </div>
        </div>

        <div class="event">
          <h2 class="heading">Our Goals and Objectives</h2>
          <div>
            <marquee direction="up" scrollamount="7" style="height: 400px">
              <ul>
                <li>
                  1. To ensure all-round development of students by providing
                  co-curricular, extra-curricular and entrepreneurship skills.
                </li>
                <li>
                  2. To imbibe research culture in students and faculty by
                  providing state-of-the-art research facilities and Industry
                  Institute interaction.
                </li>
                <li>
                  3. To inculcate moral integrity in students and make them
                  socially responsible and good human being.
                </li>
                <li>
                  4.To develop leadership qualities and the ability to work as a
                  team among students by encouraging participation in various
                  activities..
                </li>
              </ul>
            </marquee>
          </div>
        </div>

        <div class="event">
          <h2 class="heading">Mission</h2>
          <div>
            <marquee direction="up" scrollamount="7" style="height: 400px">
              <ul>
                <li>
                  1. Promoting Value Education through motivated trained
                  faculty.
                </li>
                <li>
                  2. Maintaining conducive environment for education at
                  affordable cost.
                </li>
                <li>3. Promoting Industry Institute interaction.</li>
                <li>4. Involving Alumni.</li>
              </ul>
            </marquee>
          </div>
        </div>
      </div>

      <div class="main-section about-us">
        <img class="About" src="/images/bg.jpg" />
        <div>
          <h2 class="heading" id="b">About Traning and Placement Cell</h2>
          <p class="heading-about">
            Welcome to the Training and Placement (T&P) Cell. MESCOE's T&P Cell
            ensures that some of the best organizations visit the campus on a
            regular basis to offer employment to the students for work in the
            areas of Computer, Electronics & Telecommunication and Mechanical
            Engineering domains."
          </p>
          <p>
            Over the years, the T&P cell has maintained a good and strong
            relationship with Industries across the country and as a result, has
            built up an impressive placement record both in terms of the
            percentage of students placed, as well as the number of companies
            visiting the campus.  It also assists the departments in organizing
            Technical Workshops, Guest Lectures and factory/plant visits for its
            students to some major industries in and around Pune."
          </p>
          <!-- <img src="/images/Mes.png"> -->
        </div>
      </div>

      <div class="main-section">
        <h2 class="heading" id="c">Placed Students</h2>
        <!-- <marquee scrollamount="7"> -->
        <div class="testimonial">
          <div class="testimonial-text">
            <h4>Computer Engineering</h4>
            <p>Placed at</p>
            <h3 class="testimonial-company">Amazon</h3>
            <a class="testimonial-package">50 LPA</a>
          </div>
          <div class="testimonial-detail">
            <div class="testimonial-img"><img src="/images/Diksha.jpg" /></div>
            <div class="testimonial-name">
              <h5>Diksha Gavshete</h5>
              <p>Web Developer</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="testimonial-text">
            <h4>Computer Engineering</h4>
            <p>Placed at</p>
            <h3 class="testimonial-company">Google</h3>
            <a class="testimonial-package">50 LPA</a>
          </div>
          <div class="testimonial-detail">
            <div class="testimonial-img"><img src="/images/kashish1.jpg" /></div>
            <div class="testimonial-name">
              <h5>Kashish Kosalge</h5>
              <p>Android Developer</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="testimonial-text">
            <h4>Computer Engineering</h4>
            <p>Placed at</p>
            <h3 class="testimonial-company">Microsoft</h3>
            <a class="testimonial-package">50 LPA</a>
          </div>
          <div class="testimonial-detail">
            <div class="testimonial-img"><img src="/images/Manasi.jpg" /></div>
            <div class="testimonial-name">
              <h5>Manasi Bhosale</h5>
              <p>Cyber Security</p>
            </div>
          </div>
        </div>
        <!-- </marquee> -->
      </div>

      <div class="main-section gallery">
        <h2 class="heading" href="#" id="d">Gallery</h2>
        <img src="/images/Mes.png" />
        <img src="/images/mescoe_bg.jpeg" />
        <img src="/images/Background.jpg" />
        <img src="/images/mes.webp" />
      </div>

      <div class="main-section">
        <h2 class="heading" id="e">Our Recruiters</h2>
        <!-- <marquee scrollamount="15"> -->
        <span class="placement" direction="left" scrollamount="10">
          <div
            class="placement-company"
            type="click"
            direction="left"
            
            scrollamount="10"
            onclick="location.href='info'"
          >
               <img src="/images/infoysys.jpg" />
               <img src="/images/Amazon.jpg" />
               <img src="/images/NSE.jpg" />
               <img src="/images/wipro.jpg" />
               <img src="/images/Yardi.jpg" />
               <img src="/images/ZenSar.jpg" />
               <img src="/images/Volksvagen.jpg" />
               <img src="/images/wirtegen group.jpg" />
               <img src="/images/ZF.jpg" />
               
          </div>
          
        </span>
      <!-- </marquee> -->
      <!-- <a
               class="company"
               type="click"
               direction="left"
               scrollamount="10"
               onclick="location.href='PBL/company'"
               >Other Companies and their criteria</a
               > -->
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="footer-sect">
          <h2>Best Institute For Education</h2>
          <p>MESCOE gives the best Education with good Placement </p>
        </div>
        <div class="footer-sect">
          <h2 id="f">Contents</h2>
          <ul class="footer-menu">
            <li><a href="#"> > Home</a></li>
            <li><a href="#"> > About us</a></li>
            <li><a href="#"> > About TPO</a></li>
            <li><a href="#"> > Gallery</a></li>
            <li><a href="#"> > Student Placed</a></li>
            <li><a href="#"> > Recruiters</a></li>
            <li><a href="#"> > Contact Us</a></li>
          </ul>
        </div>
        <div class="footer-sect">
          <h2>Contact Info</h2>
          <ul class="footer-contact">
            <li><b>Email : mescoepune@gmail.org</b></li>
            <li><b>Call : 0245-2564-8956</b></li>
            <li><b>Website : www.mescoepune.com</b></li>
          </ul>
        </div>
      </div>
    </div>
    
    <Script>
      var scroll = new SmoothScroll('a[href*="#"]');
      
      </Script>
  </body>
</html>
