<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Company Details</title>
    
    <link  rel="stylesheet" href="/css/info.css" />
  </head>
  <body >
    
      <div class="container">
        <!-- <img src="Hiring2.jpeg" class="logo" /> -->
        <h2>INFOYSYS</h2>
        <table >
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>PRN No.</th>
              <th>Name</th>
              <th>Branch</th>
              <th>Package</th>
              <th>Year</th>
              <th>Linkdin</th>
            </tr>

            <tr></tr>
          </thead>

          <tbody>
            <tr>
              <td>01</td>
              <td>F21113063</td>
              <td>Kashish Kosalge</td>
              <td>Computer Engineering</td>
              <td>50 LPA</td>
              <td>2022-2023</td>
              <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
            </tr>
            <tr>
              <td>02</td>
              <td>F21113024</td>
              <td>Manasi Bhosale</td>
              <td>Computer Engineering</td>
              <td>50 LPA</td>
              <td>2022-2023</td>
              <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
            </tr>
            <tr>
              <td>03</td>
              <td>F21113070</td>
              <td>Diksha Gavshete</td>
              <td>Computer Engineering</td>
              <td>50 LPA</td>
              <td>2022-2023</td>
              <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
            </tr>
            <tr>
              <td>04</td>
              <td>F21113071</td>
              <td>Shantanu Bhosle</td>
              <td>Computer Engineering</td>
              <td>50 LPA</td>
              <td>2022-2023</td>
              <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
            </tr>
            <tr>
              <td>05</td>
              <td>F21113051</td>
              <td>Ragini Sutrapwar</td>
              <td>Computer Engineering</td>
              <td>50 LPA</td>
              <td>2022-2023</td>
              <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
              <tr>
                <td>06</td>
                <td>F21113063</td>
                <td>Kashish Kosalge</td>
                <td>Computer Engineering</td>
                <td>50 LPA</td>
                <td>2022-2023</td>
                <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
              </tr>
              <tr>
              <td>07</td>
              <td>F21113063</td>
              <td>Kashish Kosalge</td>
              <td>Computer Engineering</td>
              <td>50 LPA</td>
              <td>2022-2023</td>
              <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
            </tr>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>

    <div class="container">
      <h2>AMAZON</h2>
      <table>
        <thead>
          <tr>
            <th>Sr No.</th>
            <th>PRN No.</th>
            <th>Name</th>
            <th>Branch</th>
            <th>Package</th>
            <th>Year</th>
            <th>Year</th>
          </tr>

          <tr></tr>
        </thead>

        <tbody>
          <tr>
            <td>01</td>
            <td>F21113063</td>
            <td>Kashish Kosalge</td>
            <td>Computer Engineering</td>
            <td>50 LPA</td>
            <td>2022-2023</td>
            <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
          </tr>
          <tr>
            <td>02</td>
            <td>F21113024</td>
            <td>Manasi Bhosale</td>
            <td>Computer Engineering</td>
            <td>50 LPA</td>
            <td>2022-2023</td>
            <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
          </tr>
          <tr>
            <td>03</td>
            <td>F21113070</td>
            <td>Diksha Gavshete</td>
            <td>Computer Engineering</td>
            <td>50 LPA</td>
            <td>2022-2023</td>
            <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
          </tr>
          <tr>
            <td>04</td>
            <td>F21113071</td>
            <td>Shantanu Bhosle</td>
            <td>Computer Engineering</td>
            <td>50 LPA</td>
            <td>2022-2023</td>
            <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
          </tr>
          <tr>
            <td>05</td>
            <td>F21113051</td>
            <td>Ragini Sutrapwar</td>
            <td>Computer Engineering</td>
            <td>50 LPA</td>
            <td>2022-2023</td>
            <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
          </tr>
        </tbody>
        
      </table>
    </div>
    <div class="container">
      <h2>WIPRO</h2>
      <table>
        <thead>
          <tr>
            <th>Sr No.</th>
            <th>PRN No.</th>
            <th>Name</th>
            <th>Branch</th>
            <th>Package</th>
            <th>Year</th>
            <th>Linkdin</th>
          </tr>

          <tr></tr>
        </thead>

        <tbody>
          <tr>
            <td>01</td>
            <td>F21113063</td>
            <td>Kashish Kosalge</td>
            <td>Computer Engineering</td>
            <td>50 LPA</td>
            <td>2022-2023</td>
            <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
          </tr>
          <tr>
            <td>02</td>
            <td>F21113024</td>
            <td>Manasi Bhosale</td>
            <td>Computer Engineering</td>
            <td>50 LPA</td>
            <td>2022-2023</td>
            <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
          </tr>
          <tr>
            <td>03</td>
            <td>F21113070</td>
            <td>Diksha Gavshete</td>
            <td>Computer Engineering</td>
            <td>50 LPA</td>
            <td>2022-2023</td>
            <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
          </tr>
          <tr>
            <td>04</td>
            <td>F21113071</td>
            <td>Shantanu Bhosle</td>
            <td>Computer Engineering</td>
            <td>50 LPA</td>
            <td>2022-2023</td>
            <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
          </tr>
          <tr>
            <td>05</td>
            <td>F21113051</td>
            <td>Ragini Sutrapwar</td>
            <td>Computer Engineering</td>
            <td>50 LPA</td>
            <td>2022-2023</td>
            <td ><a  href="https://www.linkedin.com/in/shreya-pandekar-5a7688231">https://www.linkedin.com/in/shreya-pandekar-5a7688231</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
