<%-include('partials/header.ejs')%>
<div class="container">
  <h1 class="form-title">Registration</h1>
  <form action="/register" method="post" class="form">
    <div class="main-user-info">
      <div class="user-input-box">
        <label for="fullName">Full Name</label>
        <input type="text"
                required
                id="fullName"
                name="fullname"
                placeholder="Enter Full Name"/>
      </div>
      <div class="user-input-box">
        <label for="username">Username</label>
        <input type="text"
                id="username"
                required
                name="username"
                placeholder="Enter Username"/>
      </div>
      <div class="user-input-box">
        <label for="email">Email</label>
        <input type="email"
                id="email"
                required
                name="email"
                placeholder="Enter Email"/>
      </div>
      <div class="user-input-box">
        <label for="phoneNumber">Phone Number</label>
        <input type="text"
                id="phoneNumber"
                required
                name="number"
                placeholder="Enter Phone Number"/>
      </div>
      <div class="user-input-box">
        <label for="password">Password</label>
        <input type="password"
                id="password"
                required
                name="password"
                placeholder="Enter Password"/>
      </div>
      <div class="user-input-box">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password"
                id="confirmPassword"
                required
                name="confirmPassword"
                placeholder="Confirm Password"/>
      </div>
    </div>
    <div class="gender-details-box">
      <span class="gender-title">Gender</span>
      <div class="gender-category">
        <select name="gender" id="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>
    <div class="form-submit-btn">
        
        <input type="submit" value="Register" >
        

    </div>
  </form>
