<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="criteria.css" />
  </head>
  <body>
    <div class="main">Eligibility Criteria:</div>
    <div class="points">
      1. Preference will be given for those candidates who have studied Computer
      Science as the main subject in the qualifying exam.
      <br />
    </div>

    <div class="points">
      2. It is compulsory to obtain at least 60% marks in both graduate and post
      graduate level studies.
      <br />
    </div>

    <div class="points">
      3. The candidate should not hold any supplementary subject papers while
      applying for placement.
      <br />
    </div>
  </body>
</html>
