<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="criteria.css" />
  </head>
  <body>
    <div class="main">Eligibility Criteria:</div>
    <div class="points">
      1. Certification in several Programming Languages will be considered a bonus.
      <br />
    </div>

    <div class="points">
      2. The candidate must secure minimum aggregate marks of 60% or above.
      <br />
    </div>

    <div class="points">
      3. An overall gap of two years in the academic year is permitted.
      <br />
    </div>

    <div class="points">
      4. It is mandatory for candidates to mention the gaps/backlogs during their academic and/or work experience.
      <br />
    </div>

    <div class="points">
      5. The age limit is defined as a minimum of 18 years and a maximum of 28 years.
      <br />
    </div>
  </body>
</html>
