<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="criteria.css" />
  </head>
  <body>
    <div class="main">Eligibility Criteria:</div>
    <div class="points">
        1. Maximum 3 years in education gap ,if any, is allowed between 10th and graduation.
        <br />
      </div>
  
      <div class="points">
        2. Candidate should have done a full degree course recognized by the Central/State Government of India.
        <br />
      </div>
  
      <div class="points">
        3. Candidate Should have 60% throughout their academics.
        <br />
      </div>
  
      <div class="points">
        4. All Engineering Branches are Eligible.
        <br />
      </div>
  </body>
</html>