<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="criteria.css" />
  </head>
  <body>
    <div class="main">Eligibility Criteria:</div>
    <div class="points">
      1. Must have excellent written & spoken communication skills in English.
      <br />
    </div>

    <div class="points">
      2. Education gap should not be more than 1 year since SSC.
      <br />
    </div>

    <div class="points">
      3. No loss of academic year after joining the course for whatsoever reason
      <br />
    </div>
  </body>
</html>