<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="criteria.css" />
  </head>
  <body>
    <div class="main">Eligibility Criteria:</div>
    <div class="points">
      1. The candidate should be active in the technical stuff.
      <br />
    </div>

    <div class="points">
      2. The candidate must have excellent communication skills.
      <br />
    </div>

    <div class="points">
      3. Candidates should complete their graduation with a minimum of 60% during their education.
      <br />
    </div>
  </body>
</html>