


body{
    /* background-color: #e4e4fd; */
    padding: 25px;
    /* opacity: 50%; */
    /* background-image:url(Hiring2.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover; */
  }
  
  .container{
    width: 1200px;
    height: 440px;
    margin: 0 auto;
    padding-left: 32px; 
    padding-right: 50px;
    padding-top: 40px;
    border-radius: 12px;
    /* background-image: url(application_bg.jpg);  */
    font-family:'Times New Roman', Times, serif;
  }
  
  .container h2{
    text-align: center;
  }
  
  table{
    margin: 0 auto;
  }
  
  td, th {
    padding: 12px;
    border: 1px solid;
  }

  .logo {
    width:150px;
    height:130px;
    /* margin-left: -100px; */
    
}
  